<!DOCTYPE html>
<html>
  <head>
    <title>Cool Links</title>
    <script src="/static/zepto.min.js"></script>
    <script src="/static/data.js"></script>
    <script src="/static/intercooler.js"></script>
    <link rel=stylesheet href="/static/spectre.min.css">
    <link rel=stylesheet href="/static/site.css">
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">Cool Links</a>
      </section>

    </header>

    {% include "form_submit.html" %}

    {% include "post.html" %}

    <div ic-trigger-on="load" ic-poll="10s" ic-src="/recent"></div>
  </body>
</html>

