<!DOCTYPE html>
<html>
  <head>
    <title>Cooler News</title>
    <script src="/static/zepto.min.js"></script>
    <script src="/static/data.js"></script>
    <script src="/static/intercooler.js"></script>
    <link rel=stylesheet href="/static/spectre.min.css">
    <link rel=stylesheet href="/static/site.css">
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">Cooler News</a>
      </section>

    </header>

    <div class="form-group">
      <form ic-post-to="/submit">
        {% include "index_url.html" %}
      </form>
    </div>

    <div id="hello">

    </div>

    <p>Story</p>
    <p>Story</p>
    <p>Story</p>
  </body>
</html>

